/* Ajout de z-index et position pour s'assurer que les sections sont accessibles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #FFCC00, #CC0000);
}

/* Appliquer la police Blockland à l'ensemble du site */
@font-face {
    font-family: 'Blockland';
    src: url('Blockland-vnRG7.ttf') format('truetype');
}

body, h1, h2, h3, h4, h5, h6, p, a, div, span, input, textarea, button {
    font-family: 'Blockland', sans-serif;
	font-weight: 200; /* Ajoutez cette ligne pour définir le poids de la police */
}

body {
    display: flex;
    flex-direction: column;
    color: #333;
    overflow-x: hidden;
    position: relative; /* Assure que les éléments enfants peuvent être positionnés relativement */
}

h1, h2 {
    margin: 0;
}

h3 {
    font-size: 1.75em; /* Augmenter cette valeur pour rendre le texte plus grand */
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1; /* S'assure que le header reste au-dessus d'autres éléments */
    font-size: 1.25em; /* Augmentez cette valeur pour rendre le texte plus grand */
}

.site-title {
    margin: 0;
    font-size: 2em; /* Augmenter cette valeur pour rendre le texte plus grand */
    text-align: center;
}

.hamburger-menu {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    display: none; /* Caché par défaut */
    cursor: pointer;
}

.hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.header-image {
    height: 80px; /* Ajustez la taille de l'image selon vos besoins */
    margin-right: 20px; /* Espacement entre l'image et le titre */
}

/* Styles pour le pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.subscribe-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #CC0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

.subscribe-button:hover {
    background-color: #FFCC00;
    color: #333;
}

/* Menu classique */
.navbar.classic-menu {
    display: flex;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    z-index: 1; /* S'assure que la navbar reste au-dessus d'autres éléments */
}

.navbar.classic-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 400;
}

.navbar.classic-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Menu burger */
.navbar.burger-menu {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.navbar.burger-menu.active {
    display: flex;
}

.navbar.burger-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
}

.navbar.burger-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.search-container {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 10px;
    z-index: 1; /* S'assure que la search-container reste au-dessus d'autres éléments */
}

.search-container input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1; /* S'assure que la container reste au-dessus d'autres éléments */
}

.video-list {
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    border: 2px solid #333;
}

.video-item {
    background-color: #f4f4f4;
    padding: 8px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ccc;
}

.video-item:hover {
    background-color: #e4e4e4;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-color: #999;
}

.video-player {
    flex: 2;
    min-width: 300px;
    max-width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    box-sizing: border-box;
    border: 2px solid #333;
}

.video-player iframe {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 ratio */
    border-radius: 8px;
    border: none;
}

.full-screen-video {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.full-screen-video iframe {
    height: 100%;
    width: 100%;
    padding: 0;
}

#exit-fullscreen {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10000;
    border-radius: 4px;
}

footer {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
}

@media (min-width: 1024px) {
    .container {
        height: calc(100vh - 60px);
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .video-list {
        flex: 1;
        max-height: 100%;
        overflow-y: auto;
    }

    .video-player {
        flex: 3;
        max-height: 100%;
    }

    .video-player iframe {
        height: 100%;
    }

    .hamburger-icon {
        display: none;
    }

    .navbar.classic-menu {
        display: flex;
    }

    .navbar.burger-menu {
        display: none;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .header {
        justify-content: center;
    }

    .hamburger-icon {
        display: flex; /* Affiché sur les petits écrans */
        flex-direction: column;
    }

    .hamburger-icon div {
        background-color: white;
    }

    .navbar.classic-menu {
        display: none;
    }

    .navbar.burger-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        right: 0;
        background-color: #333;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: none; /* Caché par défaut, sera affiché quand le burger est cliqué */
    }

    .navbar.burger-menu.active {
        display: flex;
    }

    .navbar.burger-menu a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #575757;
    }

    .search-container {
        margin-top: 70px;
        margin-bottom: 10px;
        padding: 10px;
        width: calc(100% - 20px);
    }

    .video-player {
        height: auto;
    }

    .video-player iframe {
        height: 100vh; /* Force fullscreen height */
        width: 100vw; /* Force fullscreen width */
    }

    .video-list {
        max-height: 300px;
        max-width: 100%;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .container {
        padding: 5px;
        margin-top: 50px;
    }

    .navbar.burger-menu a {
        padding: 8px;
        font-size: 28px;
    }

    .search-container {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 10px;
        width: calc(100% - 10px);
    }

    .video-player iframe {
        height: 100vh; /* Force fullscreen height */
        width: 100vw; /* Force fullscreen width */
    }

    .video-list {
        max-height: 250px;
        padding: 8px;
        max-width: 100%;
    }

    .video-item {
        padding: 6px;
        margin: 6px 0;
    }

    .search-container input {
        padding: 6px;
    }
}

/* Section de contact */
.contact-section {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    border: 2px solid #333;
    z-index: 1; /* S'assure que le contact-section reste au-dessus d'autres éléments */
    text-align: center; /* Centrer le contenu */
    font-size: 1.25em; /* Augmenter la taille de la police */
}

.contact-section h2 {
    text-align: center;
    color: #CC0000;
    font-size: 2em; /* Augmenter la taille de la police pour le titre */
}

.contact-section p {
    text-align: center;
    color: #333;
}

.contact-section .form-group {
    margin-bottom: 20px;
}

.contact-section .form-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

.contact-section .form-group input,
.contact-section .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-section .form-group input:focus,
.contact-section .form-group textarea:focus {
    border-color: #CC0000;
    outline: none;
}

.contact-section button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #CC0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25em; /* Augmenter la taille de la police */
}

.contact-section button:hover {
    background-color: #FFCC00;
    color: #333;
}

#form-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    display: none;
    font-size: 1.25em; /* Augmenter la taille de la police */
}

#form-message.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
