body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #007BFF;
}

header {
    background-color: #007BFF;
    color: blue;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.video-container {
    margin-bottom: 20px;
}

.video-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}

footer {
    background-color: #007BFF;
    color: blue;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
