body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

header {
    background: url('https://yadelagadou.com/images/hero-bg.jpg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.5em;
}

.hamburger-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.container {
    padding: 20px;
    margin-top: 80px;
}

.video-list {
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.search-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.video-player {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

.video-player iframe {
    width: 100%;
    height: 500px;
}

#exit-fullscreen {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .navbar {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .navbar a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #575757;
    }

    .video-player iframe {
        height: 300px;
    }

    .video-list {
        max-height: 350px;
    }
}

@media (max-width: 480px) {
    .video-player iframe {
        height: 250px;
    }

    .video-list {
        max-height: 350px;
    }
}
